<center><img src="https://i.imgur.com/zRrFdsf.png" width="700"></center> 

_____

<a id='home'></a>

# Appending

<a target="_blank" href="https://colab.research.google.com/github/CienciaDeDatosEspacial/code_and_data/blob/main/Appending.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

<a id='appending'></a>

As the name implies, this process binds DFs into one, that is, one or more DFs will be put below or on top of another DF. Appending can be done when you fulfill these requisites:
1. All the DFs  share the same column names.
2. All the DFs  columns are in the same location.

Note that it is better if the columns share the same data types. But you can solve it during the formatting process.


Let's visit this website: https://fundforpeace.org/what-we-do/country-risk-and-fragility-data/

There, you will find several excel files with the _Fragile States Index_ per year. I have the files from 2013 to 2021 in a GitHub repo:

![](fragilityGit.png)

Let's read every file. For that, we will use a link to each. Let's do it step by step:

In [1]:
# link to repo - common to all files
dataRepo='https://github.com/enrique1157/datasemana7/raw/main/excels2013to2023/'

In [2]:
# creating file names into a list:
years=range(2013,2022)
fileNames=['fsi-'+str(year)+'.xlsx' for year in years]
# list of file names
fileNames

['fsi-2013.xlsx',
 'fsi-2014.xlsx',
 'fsi-2015.xlsx',
 'fsi-2016.xlsx',
 'fsi-2017.xlsx',
 'fsi-2018.xlsx',
 'fsi-2019.xlsx',
 'fsi-2020.xlsx',
 'fsi-2021.xlsx']

In [3]:
# creating the url to each file:
alltheLinks=[dataRepo+fn for fn in fileNames]
alltheLinks

['https://github.com/enrique1157/datasemana7/raw/main/excels2013to2023/fsi-2013.xlsx',
 'https://github.com/enrique1157/datasemana7/raw/main/excels2013to2023/fsi-2014.xlsx',
 'https://github.com/enrique1157/datasemana7/raw/main/excels2013to2023/fsi-2015.xlsx',
 'https://github.com/enrique1157/datasemana7/raw/main/excels2013to2023/fsi-2016.xlsx',
 'https://github.com/enrique1157/datasemana7/raw/main/excels2013to2023/fsi-2017.xlsx',
 'https://github.com/enrique1157/datasemana7/raw/main/excels2013to2023/fsi-2018.xlsx',
 'https://github.com/enrique1157/datasemana7/raw/main/excels2013to2023/fsi-2019.xlsx',
 'https://github.com/enrique1157/datasemana7/raw/main/excels2013to2023/fsi-2020.xlsx',
 'https://github.com/enrique1157/datasemana7/raw/main/excels2013to2023/fsi-2021.xlsx']

In [4]:
#una lista de dataframes es el allDFs

We will save each data frame in a list **allDFs**. We will use pandas, but we need **openpyxl** and **xlrd** (for Excel) before doing this operation:

In [5]:
# creating list of DFs
import pandas as pd

allDFs=[pd.read_excel(link) for link in alltheLinks]

In [6]:
#hacer una lista por cada columna de data frame

In [7]:
# saving column names
allColumnNames=[]
for df in allDFs:
    allColumnNames.append(set(df.columns))# list of sets!

In [8]:
# checking how many columns per df

[len(cols) for cols in allColumnNames]

[16, 16, 16, 16, 16, 16, 17, 17, 16]

We have an extra column in a couple of years. 
Let's find the common columns:

In [9]:
# details of common columns
commonColumns=set.intersection(*allColumnNames) # expanding list of sets (*)
len(commonColumns),commonColumns

(16,
 {'C1: Security Apparatus',
  'C2: Factionalized Elites',
  'C3: Group Grievance',
  'Country',
  'E1: Economy',
  'E2: Economic Inequality',
  'E3: Human Flight and Brain Drain',
  'P1: State Legitimacy',
  'P2: Public Services',
  'P3: Human Rights',
  'Rank',
  'S1: Demographic Pressures',
  'S2: Refugees and IDPs',
  'Total',
  'X1: External Intervention',
  'Year'})

These are the columns not in the common names:

In [10]:
# all minus the common
set.union(*allColumnNames)-commonColumns

{'Change from Previous Year'}

We could make a list of data frames with only the common columns:

In [11]:
# DFs with the common columns
#recuperar los data frame que solo tega los nombres comunes
allDFs_sameNames=[df.loc[:,list(commonColumns)] for df in allDFs]

Appending in pandas requires a list of data frames, in these case that is **allDFs_sameNames**. Then we proceed:

In [12]:
# appending
allDFsConcat=pd.concat(allDFs_sameNames)
allDFsConcat.head()

,Total,P1: State Legitimacy,P3: Human Rights,Year,S1: Demographic Pressures,E1: Economy,C1: Security Apparatus,C3: Group Grievance,Rank,S2: Refugees and IDPs,X1: External Intervention,E2: Economic Inequality,C2: Factionalized Elites,P2: Public Services,Country,E3: Human Flight and Brain Drain
0,113.9,9.5,10.0,2013-01-01 00:00:00,9.5,9.4,9.7,9.3,1st,10.0,9.4,8.4,10.0,9.8,Somalia,8.9
1,111.9,9.6,9.8,2013-01-01 00:00:00,10.0,8.5,10.0,9.4,2nd,10.0,9.7,8.8,9.5,9.5,Congo Democratic Republic,7.1
2,111.0,9.6,9.3,2013-01-01 00:00:00,8.8,7.8,9.8,10.0,3rd,10.0,10.0,8.5,10.0,8.8,Sudan,8.4
3,110.6,9.1,9.3,2013-01-01 00:00:00,8.9,8.6,9.6,10.0,4th,10.0,10.0,8.9,9.8,9.8,South Sudan,6.5
4,109.0,9.7,9.8,2013-01-01 00:00:00,9.5,8.0,9.4,8.8,5th,9.7,7.9,8.9,9.5,9.9,Chad,8.0

We could pay attention to the current data types:

In [13]:
allDFsConcat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1603 entries, 0 to 178
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Total                             1603 non-null   float64
 1   P1: State Legitimacy              1603 non-null   float64
 2   P3: Human Rights                  1603 non-null   float64
 3   Year                              1603 non-null   object
 4   S1: Demographic Pressures         1603 non-null   float64
 5   E1: Economy                       1603 non-null   float64
 6   C1: Security Apparatus            1603 non-null   float64
 7   C3: Group Grievance               1603 non-null   float64
 8   Rank                              1603 non-null   object
 9   S2: Refugees and IDPs             1603 non-null   float64
 10  X1: External Intervention         1603 non-null   float64
 11  E2: Economic Inequality           1603 non-null   float64
 12  C2: Factionalized Elites          1603 non-null   float64
 13  P2: Public Services               1603 non-null   float64
 14  Country                           1603 non-null   object
 15  E3: Human Flight and Brain Drain  1603 non-null   float64
dtypes: float64(13), object(3)
memory usage: 212.9+ KB

The columns] **Year** was expected to be a numeric type, but we got an _object_ instead. Let's explore that column:

In [14]:
# exploring year column as frequency table
#el error es que se puesto mes y año y solo era escribir el año, por ello exploro para ver que ha apsado
allDFsConcat.Year.value_counts()

Year
2021                   179
2013-01-01 00:00:00    178
2014-01-01 00:00:00    178
2015-01-01 00:00:00    178
2016-01-01 00:00:00    178
2017-01-01 00:00:00    178
2018-01-01 00:00:00    178
2019-01-01 00:00:00    178
2020-01-01 00:00:00    178
Name: count, dtype: int64

Except for the year 2021, the other values are in date-time format. We just need an integer number, then:

In [15]:
# keeping just the year value
#intenta hacer esto y si falla has lo otro
#si y es una fecha con el y. recupero 
yearAsNumber=[]
for y in allDFsConcat.Year:
    try:
        yearAsNumber.append(y.year)# the value from a date-time format
    except:
        yearAsNumber.append(y) # if not a datetime

#verifying
pd.Series(yearAsNumber).value_counts()

2021    179
2013    178
2014    178
2015    178
2016    178
2017    178
2018    178
2019    178
2020    178
Name: count, dtype: int64

In [16]:
# overwriting the year column
allDFsConcat.Year=yearAsNumber

You may have notice that the column ordering does not look appropriate. In general you expect that the columns to the left start with identification of the rows rather than some measurements. Let's move 'Country','Year','Total' to the left:

In [17]:
# this is a trick: setting columns as index
allDFsConcat.set_index(['Country','Year','Total'],inplace=True)
allDFsConcat.head()

,,,P1: State Legitimacy,P3: Human Rights,S1: Demographic Pressures,E1: Economy,C1: Security Apparatus,C3: Group Grievance,Rank,S2: Refugees and IDPs,X1: External Intervention,E2: Economic Inequality,C2: Factionalized Elites,P2: Public Services,E3: Human Flight and Brain Drain
Country,Year,Total,,,,,,,,,,,,,
Somalia,2013,113.9,9.5,10.0,9.5,9.4,9.7,9.3,1st,10.0,9.4,8.4,10.0,9.8,8.9
Congo Democratic Republic,2013,111.9,9.6,9.8,10.0,8.5,10.0,9.4,2nd,10.0,9.7,8.8,9.5,9.5,7.1
Sudan,2013,111.0,9.6,9.3,8.8,7.8,9.8,10.0,3rd,10.0,10.0,8.5,10.0,8.8,8.4
South Sudan,2013,110.6,9.1,9.3,8.9,8.6,9.6,10.0,4th,10.0,10.0,8.9,9.8,9.8,6.5
Chad,2013,109.0,9.7,9.8,9.5,8.0,9.4,8.8,5th,9.7,7.9,8.9,9.5,9.9,8.0

Since I will not use _Rank_, I will get rid of it:

In [18]:
# dropping unneeded column
allDFsConcat.drop(columns='Rank',inplace=True)

Let's order the current column names:

In [19]:
# ordering column names alphabetically
allDFsConcat.sort_index(axis=1,inplace=True) # by row index will be axis=0

Now put the row indexes back:

In [20]:
# indexes will be columns
allDFsConcat.reset_index(inplace=True)

Let's do some cleaning on the column names:

In [21]:
# see column names
allDFsConcat.columns.to_list()

['Country',
 'Year',
 'Total',
 'C1: Security Apparatus',
 'C2: Factionalized Elites',
 'C3: Group Grievance',
 'E1: Economy',
 'E2: Economic Inequality',
 'E3: Human Flight and Brain Drain',
 'P1: State Legitimacy',
 'P2: Public Services',
 'P3: Human Rights',
 'S1: Demographic Pressures',
 'S2: Refugees and IDPs',
 'X1: External Intervention']

In [22]:
# clean column names
allDFsConcat.columns=allDFsConcat.columns.str.replace(':\s',"_",regex=True)
allDFsConcat.columns=allDFsConcat.columns.str.replace('\s',"",regex=True)
#see
allDFsConcat.columns.to_list()

['Country',
 'Year',
 'Total',
 'C1_SecurityApparatus',
 'C2_FactionalizedElites',
 'C3_GroupGrievance',
 'E1_Economy',
 'E2_EconomicInequality',
 'E3_HumanFlightandBrainDrain',
 'P1_StateLegitimacy',
 'P2_PublicServices',
 'P3_HumanRights',
 'S1_DemographicPressures',
 'S2_RefugeesandIDPs',
 'X1_ExternalIntervention']

Let's set the country names into upper case:

In [23]:
# overwriting country
allDFsConcat.Country=allDFsConcat.Country.str.upper()

Finally, let's check the format:

In [24]:
allDFsConcat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1603 entries, 0 to 1602
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      1603 non-null   object
 1   Year                         1603 non-null   int64
 2   Total                        1603 non-null   float64
 3   C1_SecurityApparatus         1603 non-null   float64
 4   C2_FactionalizedElites       1603 non-null   float64
 5   C3_GroupGrievance            1603 non-null   float64
 6   E1_Economy                   1603 non-null   float64
 7   E2_EconomicInequality        1603 non-null   float64
 8   E3_HumanFlightandBrainDrain  1603 non-null   float64
 9   P1_StateLegitimacy           1603 non-null   float64
 10  P2_PublicServices            1603 non-null   float64
 11  P3_HumanRights               1603 non-null   float64
 12  S1_DemographicPressures      1603 non-null   float64
 13  S2_RefugeesandIDPs           1603 non-null   float64
 14  X1_ExternalIntervention      1603 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 188.0+ KB

We should save this result:

In [25]:
import os

allDFsConcat.to_csv(os.path.join("data","Fragility.csv"),index=False)

OSError: Cannot save file into a non-existent directory: 'data'